<% provide(:title, "About") %>
<div class="container">

  <div class="row">
    <div class="jumbotron">
      <h1 class="display-4">TACTICS</h1>
      <hr class="my-4">
      <p>TACTICS stands for <b>"The Ateneo Consortium of Technological, Information and Computing Sciences"</b>. It is the co-curricular organization of all BS Information Technology, BS Computer Science and BS Information Science students of Ateneo de Naga University.</p>
    </div>
  </div>
    
  <div class="row">
    <div class="media col-md-12", style="{border};">
      <%= image_tag "TACTICS_LOGO.png", :class => "img-fluid mr-3", :size => '100x100' %>
      <div class="media-body">
        <h5 class="mt-0">Official Seal</h5>
        The Ateneo Consortium of Technological, Information and Computing Sciences Seal shall be described with a letter I tilted sideways, enclosed in a box and with a predominant color of blue. The letter T represents “Technology” as the organization and serves as the initial of the organization’s name; the predominant color blue symbolizes the organization being part of Ateneo de Naga University and the Department of Computer Science; and the four (4) corners of the box represents the 4C’s of the university, embodied in its mission and vision.
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div id="wrapper">
      <h5 class="mt-0">Mission</h5>
      <p>
        The Ateneo Consortium of Technological, Information and Computing Sciences aims to share learned information technology, heightening the significant role it plays in the modern and dynamic society while upholding unity among the members by promoting rights, and encouraging participation and cooperation in the pursuance of organizational goals through an effective governance and responsive membership.
      </p>
    </div>
  </div>

  <div class="row top-buffer">
    <div id="wrapper">
      <h5 class="mt-0">Vision</h5>
      <p>
        In the continuous existence of the organization, the society should gain and deserve stability, credibility and distinction in the Ateneo de Naga Community and the Bicol region as an organization with dedicated, sensitive and selfless members reaching out and extending their share as “Men and Women for others”, thus successfully achieving its goals and fulfilling its aspirations with pride and utmost humility.
      </p>
    </div>
  </div>


  </div>
</div>