<footer class="footer">
  <div class="container">
    <small class="text-muted">© The Ateneo Consortium of Technological, Information and Computing Sciences 2018, Department of Computer Science, College of Computer Studies, Ateneo de Naga University</small>
  </div>
</footer>


<script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>